.chat-main

 .chat-main__main-header
  .chat-main__main-header__left-box
   .current-group TECH::CAMP
   .current-member Member:京都太郎
  %a{href: "#"}
   .chat-main__main-header__edit-button Edit

 .chat-main__timeline
  .chat-main__timeline__upper
   .contributor 大阪次郎
   .datetime 2020/1/13(Mon) 12:00:07
  .timeline-text はじめまして、よろしくお願いします。
  .chat-main__timeline__upper
   .contributor 奈良三太
   .datetime 2020/1/13(Mon) 15:30:08
  .timeline-text こちらこそよろしくお願いします！

 .chat-main__post-form
  .chat-main__post-form__post-culumn
   %input{placeholder: "type a message", class: "left-part"}
   %label{class: "right-part"}
    %i.far.fa-image{class: "choose-image"}
    %input{type: "file", class: "choose-file"}
  .chat-main__post-form__send-button Send