.chat-main__timeline__upper{data: {message: {id: message.id}}}
  .current-member
    = message.user.name
  .datetime
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.timeline-text
  - if message.content.present?
    %p.timeline__content
      = message.content
  %p.timeline__content
    = image_tag message.image.url, class: "timeline__image" if message.image.present?