.side-bar

 .side-bar__side-header
  .side-bar__side-header__box
   .__side-header__box__user-name
    = current_user.name
   .__side-header__box__icons
    = link_to "#", class: "side-bar__side-header__box__icons" do
     %i.far.fa-edit
    = link_to edit_user_path(current_user), class: "side-bar__side-header__box__icons" do
     %i.fas.fa-cog

 .side-bar__groups
  .side-bar__groups__group-name TECH::CAMP
  .side-bar__groups__group-message まだメッセージがありません